.View {
    width: 100vw;
    height: 100vh;
    background-color: #F9F8F8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ButtonsWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}